.round {
    border-radius: 50%;
    width: 30%;
}

.hide {
    visibility: hidden;
}

.main-page{
    background-color: #333333;
    padding-top: 140pt;
    padding-bottom: 140pt;
}

.white-font{
    color: white;
}

.normal-content{
    /* background-color: gainsboro; */
    background-color: white;
    padding-top: 70pt;
    padding-bottom: 70pt;
    text-align: center;
}

.normal-subtitle{
    /* margin-top: 10pt; */
    margin-bottom: 25pt;
    text-align: center;
}

ul {
    text-align: left;
    /* word-wrap: normal; */
}

li {
    white-space: normal;
    margin-top: 13pt;
}

.normal-page{
    display: flex;
    /* flex-direction: row; */
    /* align-content: stretch; */
    /* padding-left: 0; */
}

.orange-background{
    /* width: 10pt; */
    background-color: orangered;
}

.grey-background{
    background-color: #333333;
}

.center-text{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 30pt;
    padding-bottom: 30pt;
}

.normal-button{
    margin-top: 30pt;
    background-color: #333333;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.normal-paragraph{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.full-height{
    height: 100%;
}

.form-registrasi{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
}
