<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <style>
            .profpict {
                border-radius: 50%;
                max-width: 300px;
            }
        </style>
</head>
<body>
    <br>
    <h1>Saya</h1>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I'm studying at {{ university }}</article>
    <article>My hobby is {{ hobby }}</article>
    <article>I am {{ descriptions }}</article>
    <img src="https://i.imgur.com/A8o3LVQ.jpg" class="profpict">
    <br>
    <hr>

    <h1>Orang di depan saya</h1>
    <img src="http://ztech10.herokuapp.com/static/image/profpict.png" class="profpict" />
    <h1>Hello my name is Fairuzi</h1>
    <article>
        I study in Computer Science, University of Indonesia with NPM 1706028594.
        I love to sleep in my spare time. I'm a 19 years old student who wants to be a great tech leader in the future.
    </article>
    <br>
    <hr>
    <br>
    <h1>Orang di belakang saya</h1>
    <h1>Hello my name is Kevin Christian Chandra</h1>
    <article>NPM : 1706039976</article>
	<p>Tempat kuliah: Fasilkom UI</p>
	<p>Hobi: Bermain video game</p>
	<p>Deskripsi diri: Saya adalah mahasiswa Fasilkom UI angkatan 2017. Saya mengambil jurusan Ilmu Komputer dan saat ini sedang menjalani semester 3. Saya lahir di Jakarta pada tanggal 27 September 1999. Saya tinggal di Jakarta, namun selama berkuliah saya tinggal di sebuah kos di daerah Pondok Cina. Selama saya berkuliah sampai sekarang, mata kuliah yang paling saya sukai adalah DDP. Selain berkuliah, semester ini saya aktif di kepanitiaan RKF 2018 dan PMB 2018. Saya juga berkerja sebagai asisten dosen untuk mata kuliah DDP1. Saya memiliki motto hidup "Do your best in everything you do". Motto ini mendorong saya untuk tidak belajar sekadar untuk mendapat nilai tertinggi pada suatu mata kuliah, melainkan untuk menambah ilmu dan pengalaman. Dengan belajar sungguh-sungguh dan memberikan usaha terbaik yang bisa saya berikan, saya yakin nilai (sebagai reward) akan menjawab usaha saya dengan setimpal.</p>
</body>
</html>
