<!DOCTYPE <!DOCTYPE html>
<html>


{% load static %}
<head>
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Aren REvolutioN</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static "profileApp/index.css" %}"/>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Profile Saya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'hobby' %}">Hobby <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">Registrasi <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'jadwal' %}">Jadwal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'aren' %}">Aren <span class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>

<div class="normal-page full-height">
    <div class="col-9">
        <h1 class="normal-subtitle" style="color: #333333">Aren REvolutioN</h1>
        <form action="/aren-hasil/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="btn btn-lg normal-button">
        </form>

    </div>

    <div class="orange-background col-3">
        <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>
</div>

{% include "profileApp/js.html" %}
</body>

</html>
