<!DOCTYPE <!DOCTYPE html>
<html>

{% load static %}
{% include "profileApp/base.html" %}
<body>
<div class="normal-page full-height">
    <div class="col-9">
        <h1 class="normal-subtitle" style="color: #333333">Jadwal berhasil terdaftar</h1>
        {% for i in text %}
            {{ i }}<br>
        {% endfor %}

    </div>

    <div class="orange-background col-3">
        <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>
</div>

{% include "profileApp/js.html" %}
</body>

</html>
