<!DOCTYPE <!DOCTYPE html>
<html>

{% load static %}
{% include "profileApp/base.html" %}
<body>
<div class="normal-page full-height">
    <div class="col-9">
        <h1 class="normal-subtitle" style="color: #333333">Hasil grading</h1>
        <br>

        {% if error == True%}
            eh sabar dong server gratisan nih gan
            {{ error_message }}
        {% else %}
{#            <img src="https://www.dewaweb.com/blog/wp-content/uploads/2017/10/Blokir-Internet-Positif-Indonesia-1.png">#}
            {% if compile_error == True %}
                <h4>COMPILE ERROR</h4>
                {{ compile_error_message|linebreaksbr }}
            {% else %}
                <h3>SCORE : {{ trueAns }} / {{ total }}</h3>
                <br>
                {% for caseResult in caseResults %}
                    <br>
                    {% if caseResult.timeout == True %}
                        <h4>Testcase #{{ forloop.counter }}</h4>
                        <h4>Time Limit Exceeded</h4>
                    {% else %}
                        <h4>Testcase #{{ forloop.counter }}
                            {% if caseResult.pass == True %}
                                <span class="badge badge-success">Passed</span>
                            {% else %}
                                <span class="badge badge-danger">Failed</span>
                            {% endif %}
                        </h4>
                    {% endif %}
                    Time : {{ caseResult.duration }} ms
                    <br><br>
                    <b>Problem</b>: <br> {{ caseResult.problem|linebreaksbr }}
                    <br><br>
                    <b>Answer</b>: <br> {{ caseResult.answer|linebreaksbr }}
                    <br><br>
                    <b>Expected</b>: <br> {{ caseResult.expected|linebreaksbr }}
                    <br>
                    <br>

                {% endfor %}
            {% endif %}
        {% endif %}
    </div>

    <div class="orange-background col-3">
        <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>
</div>

{% include "profileApp/js.html" %}
</body>
</html>

