<head>
    {% load static %}
    <meta charset="utf-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Profil Muhamad Abdurahman</title>
    <link rel="stylesheet" type="text/css" media="screen" id="theme_css" href="{% static "profileApp/index.css" %}"/>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script>
        function kurikku(theme) {
            console.log(theme)
            if (theme === "dark") {
                document.getElementById('theme_css').href = '{% static "profileApp/index_dark.css" %}';
            } else {
                document.getElementById('theme_css').href = '{% static "profileApp/index.css" %}';
            }
        }


        function doStuff() {
            console.log("Hello World!")
            document.body.style.backgroundColor = "red";
        }

        function toggle(button) {
            if (button.value == "OFF") {
                button.value = "ON"
                button.innerHTML = "ON"
                {#this.interval = setInterval(doStuff, 1000);#}
                this.interval = setInterval(doStuff, 1000);
            } else if (button.value == "ON") {
                button.value = "OFF"
                button.innerHTML = "OFF"
                clearInterval(this.interval)
            }
        }
    </script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion({collapsible:true});
        });
    </script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Profile Saya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link " href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'hobby' %}">Hobby <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">Registrasi <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'jadwal' %}">Jadwal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'buku' %}">Buku <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'registrasi' %}">Registrasi <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">

                Theme:
                <button onclick="kurikku('dark')" value="">Dark</button>
                <button onclick="kurikku('light')" value="OFF">Light</button>
            </li>

        </ul>
    </div>
</nav>

