<!DOCTYPE <!DOCTYPE html>
<html>

    {% load static %}
    {% include "profileApp/base.html" %}
<body>
    <div class="normal-page full-height">
        <div class="col-9 form-registrasi">
            <h1 class="normal-subtitle" style="color: #333333">Form Registrasi</h1>
            <form>
                <div class="form-group">
                    <label for="nama">Nama</label>
                    <input type="text" class="form-control" id="name" placeholder="Masukkan nama">
                </div>
                <div class="form-group">
                    <label for="tanggal">Tanggal</label>
                    <input type="date" class="form-control" id="name" placeholder="Masukkan tanggal">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="name" placeholder="Masukkan email">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="name" placeholder="Masukkan username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="name" placeholder="Masukkan password">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="name" placeholder="Masukkan kembali password">
                </div>


            </form>
        </div>

        <div class="orange-background col-3">
            <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
        </div>
    </div>

    {% include "profileApp/js.html" %}
</body>

</html>
