<!DOCTYPE <!DOCTYPE html>
<html>

{% load static %}
{% include "profileApp/base.html" %}
<script>
    var buttonArr = []
    var counter = 0
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();

    function onFavoriteClick(index) {
        buttonArr[index] = !buttonArr[index]
        if (buttonArr[index] === true) {
            counter++
            $('#button' + index).css('color', "yellow")
        } else {
            counter--
            $('#button' + index).css('color', "white")
        }
        $('#favCount').text("Favorites Count : " + counter)
    }

    function onSearchClick() {
        $('#tabelku').text("")
        var name = $('#book-search-form').val()
        $.ajax({
            type: "POST",
            url: "{% url 'cari-buku-json' %}",
            data: {name: name},
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: result => {
                {#$("#demo").html(result);#}
                var items = result.items
                items.forEach((item, index) => {
                    buttonArr.push(false)
                    var info = item.volumeInfo
                    var title = info.title
                    var thumbnail = info.imageLinks.smallThumbnail
                    $('#tabelku').append('<tr>')
                    $('#tabelku').append('<td><img src="' + thumbnail + '"</td>')
                    $('#tabelku').append('<td>' + title + '</td>')
                    var authorsStr = ""
                    info.authors.forEach((item, index) => {
                        authorsStr += item + ", "
                    })
                    $('#tabelku').append('<td>' + authorsStr + '</td>')
                    $('#tabelku').append('<td> <button type="button" class="btn btn-primary" onClick="onFavoriteClick(' + index + ')"> <i  id="button' + index + '" class="fas fa-star"></i></button></td>')
                    $('#tabelku').append('</tr>')
                })
            }
        });
    }

    $(document).ready(() => {
            $.ajax({
                url: "{% url 'buku-json' %}",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: result => {
                    var items = result.items
                    items.forEach((item, index) => {
                        buttonArr.push(false)
                        var info = item.volumeInfo
                        var title = info.title
                        var thumbnail = info.imageLinks.smallThumbnail
                        $('#tabelku').append('<tr>')
                        $('#tabelku').append('<td><img src="' + thumbnail + '"</td>')
                        $('#tabelku').append('<td>' + title + '</td>')
                        var authorsStr = ""
                        info.authors.forEach((item, index) => {
                            authorsStr += item + ", "
                        })
                        $('#tabelku').append('<td>' + authorsStr + '</td>')
                        $('#tabelku').append('<td> <button type="button" class="btn btn-primary" onClick="onFavoriteClick(' + index + ')"> <i  id="button' + index + '" class="fas fa-star"></i></button></td>')
                        $('#tabelku').append('</tr>')
                    })
                }
            });
        }
    )
</script>

<div id="contents">
    <div style="margin-left: 5%; margin-right: 5%" >
            <h1 id="favCount">
        Favorites Count : 0
    </h1>
        Search:
        <input type="text" class="form-control" id="book-search-form" placeholder="Enter book name">
        <button style="width:100%" type="button" class="btn btn-primary" onclick="onSearchClick()">Search</button>
    </div>
    <table class="table" style="margin-left: 5%; margin-right:5%; width:90%">
        <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Favorite</th>
        </tr>
        </thead>
        <tbody id="tabelku">
        </tbody>
    </table>
</div>
{% csrf_token %}
</div>

{% include "profileApp/js.html" %}

</body>

</html>
