<!DOCTYPE <!DOCTYPE html>
<html>

{% load static %}
{% include "profileApp/base.html" %}
<script>

$(document).ready(function () {
    $('#loading').css("visibility", "visible");
    $('#contents').css("visibility", "hidden");
    setTimeout( function(){
        $('#loading').css("visibility", "hidden");
        $('#loading').css("height",0);
        $('#contents').css("visibility", "visible");
    },1000);
}
);

</script>

<img src="https://vignette.wikia.nocookie.net/aj-failure-club/images/4/4b/Loading-gif-transparent-background-11.gif/revision/latest/scale-to-width-down/480?cb=20180308015832" alt="loading" id="loading">
<div id="contents">
<div class="text-center main-page container-fluid mx-auto">
    <div>
        <img src="{% static "profileApp/aab.jpg" %}" class="round img-fluid" alt="Responsive image">
    </div>
    <div>
        <h1 style="color: white; padding-top: 20pt">Halo, Saya Aab</h1>
    </div>
</div>
<div id="accordion">
    <h3>Pengalaman Organisasi/Kepanitiaan</h3>
    <div>
        <ul>
            <li>
                NI NIHONGO NO KURABU (N2HK) <br>
                FUKI adalah organisasi dakwah Islam Fasilkom UI. Biro KKM adalah biro yang mengurus <br>
                kesekretariatan dan mushola FUKI. <br>
                Extrakurikuler bahasa dan kebudayaan Jepang <br>
                ANGGOTA | JULI 2013 - JUNI 2016 <br>
            </li>
            <li>
                FUKI FASILKOM UI
                WAKIL KETUA BIRO KKM | FEBRUARI 2018 - SEKARANG
            </li>
            <li>
                RISTEK Fasilkom UI adalah organisasi otonom Faslkom UI yang membidangi riset dan
                teknologi. Game Developing SIG adalah bidang yang memperdalam dan berkompetisi
                dalam riset, teknologi pengembangan game.
            </li>

            <li>PANITIA GOMU-GOMU NO MATSURI 4 <br>
                Festival Kebudayaan Jepang SMAN 2 Bandung. Berperan sebagai logistik Umum. <br>
                JULI 2013 - NOVEMBER 2013
            </li>
            <li>PANITIA GOMU-GOMU NO MATSURI 5 <br>
                Festival Kebudayaan Jepang SMAN 2 Bandung. Berperan sebagai Ketua Pelaksana. <br>
                JULI 2014 - NOVEMBER 2014 <br>
            </li>
            <li>PANITIA GOMU-GOMU NO MATSURI 6 <br>
                Festival Kebudayaan Jepang SMAN 2 Bandung. Berperan sebagai logistik Umum. <br>
                JULI 2015 - NOVEMBER 2015 <br>
            </li>
            <li>PANITIA FROM TWO WITH LOVE 2016 <br>
                Bazaar dan Festival Sekolah, berperan sebagai Divisi Visual. <br>
                JULI 2015 - FEBRUARI 2016 <br>
            </li>
            <li>PANITIA WISUDA OKTOBER ITB <br>
                Panitia yang mempersiapkan wisuda oktober ITB 2016. Berperan sebagai logistik umum <br>
            </li>
        </ul>
    </div>
    <h3>Aktivitas</h3>
    <div>
        Asdos Matdas
        <br>
        FUKI
        <br>
        RISTEK game dev
    </div>
    <h3>Prestasi</h3>
    <div>
        <ul>
            <li>
                JUARA 2 LOMBA NOKEN QUIZ JAPANESE EDUCATION EXHIBITION UNIKOM <br>
                LOMBA CERDAS CERMAT SEPUTAR BAHASA DAN KEBUDAYAAN JEPANG <br>
                MARET 2014
            </li>
            <li>
                JUARA 1 LOMBA KANA JAPAN FAIR ITB 2014 <br>
                LOMBA CERDAS CERMAT SEPUTAR BAHASA DAN KEBUDAYAAN JEPANG <br>
                MEI 2014
            </li>
            <li>
                JUARA 1 LOMBA KANA WIDYATAMA JAPAN MATSURI 2014 <br>
                LOMBA BAHASA JEPANG <br>
                MEI 2014
            </li>


        </ul>
    </div>

</div>

<div class="normal-page">
    <div class="normal-content col-9">
        <h1 class="normal-subtitle" style="color: #333333">Pengalaman Kerja</h1>
        <ul>
            <li>PEMBUAT SOAL DAN JURI LOMBA
                <br>- Menerjemahkan berbagai komik dari bahasa Jepang ke bahasa Indonesia
                <br>- Membuat soal dan menjadi juri dalam lomba kana dancerdas cermat Gomu-Gomu no Matsuri V SMAN 2
                Bandung
                <br>GOMU-GOMU NO MATSURI | NOVEMBER 2014
            </li>
            <li>PENERJEMAH SOAL MONOGATARI
                <br>- Merangkum dan menerjemahkan cerita dalam bahasa Indonesia untuk lomba monogatari Nihon no
                Matsuri
                <br>NIHON NO MATSURI | JANUARI 2018
            </li>
            <li>PENGAJAR BAHASA JEPANG
                <br>- Mengajarkan bahasa Jepang untuk Japanese Clup SMAN 3 DEPOK dengan target JLPT N5
                <br>SMAN 3 DEPOK | FEBRUARI 2018 - MEI 2018
            </li>
            <li>PENGAJAR BAHASA JEPANG
                <br>- Mengajarkan bahasa Jepang secara sukarela untuk mahasiswa umum UI yang difasilitasi oleh
                AKIPA UI dengan target JLPT N5
                <br>AKIPA UI | FEBRUARI 2018 - MARET 2018
            </li>
            <li>PENGAJAR MATEMATIKA
                <br>- Mengajarkan bahasa matematika SAINTEK secara sukarela untuk persiapan SBMPTN anak-anak SMA
                yang difasilitasi oleh BETIS Fasilkom
            </li>
            <li>ASISTEN DOSEN MATEMATIKA DASAR 1
                <br>- Melaksanakan asistensi, pemeriksaan pr, dan diskusi online pada mata kuliah Matematika Dasar
                1
                <br>FASILKOM UI UI | SEPTEMBER 2018 - SEKARANG
            </li>


        </ul>
    </div>
    <div class="orange-background col-3">
        <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>
</div>

<div id="accordion">
    <div class="normal-page">
        <div class="grey-background col-3">
            <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
        </div>
        <div class="normal-content col-9">
            <h1 class="normal-subtitle" style="color: orangered">Pengalaman Organisasi</h1>
            <ul>
                <li>
                    NI NIHONGO NO KURABU (N2HK) <br>
                    FUKI adalah organisasi dakwah Islam Fasilkom UI. Biro KKM adalah biro yang mengurus <br>
                    kesekretariatan dan mushola FUKI. <br>
                    Extrakurikuler bahasa dan kebudayaan Jepang <br>
                    ANGGOTA | JULI 2013 - JUNI 2016 <br>
                </li>
                <li>
                    FUKI FASILKOM UI
                    WAKIL KETUA BIRO KKM | FEBRUARI 2018 - SEKARANG
                </li>
                <li>
                    RISTEK Fasilkom UI adalah organisasi otonom Faslkom UI yang membidangi riset dan
                    teknologi. Game Developing SIG adalah bidang yang memperdalam dan berkompetisi
                    dalam riset, teknologi pengembangan game.
                </li>
            </ul>
        </div>
    </div>

    <div class="normal-page">
        <div class="normal-content col-9">
            <h1 class="normal-subtitle" style="color: #333333">Pengalaman Kepanitiaan</h1>
            <ul>
                <li>PANITIA GOMU-GOMU NO MATSURI 4 <br>
                    Festival Kebudayaan Jepang SMAN 2 Bandung. Berperan sebagai logistik Umum. <br>
                    JULI 2013 - NOVEMBER 2013
                </li>
                <li>PANITIA GOMU-GOMU NO MATSURI 5 <br>
                    Festival Kebudayaan Jepang SMAN 2 Bandung. Berperan sebagai Ketua Pelaksana. <br>
                    JULI 2014 - NOVEMBER 2014 <br>
                </li>
                <li>PANITIA GOMU-GOMU NO MATSURI 6 <br>
                    Festival Kebudayaan Jepang SMAN 2 Bandung. Berperan sebagai logistik Umum. <br>
                    JULI 2015 - NOVEMBER 2015 <br>
                </li>
                <li>PANITIA FROM TWO WITH LOVE 2016 <br>
                    Bazaar dan Festival Sekolah, berperan sebagai Divisi Visual. <br>
                    JULI 2015 - FEBRUARI 2016 <br>
                </li>
                <li>PANITIA WISUDA OKTOBER ITB <br>
                    Panitia yang mempersiapkan wisuda oktober ITB 2016. Berperan sebagai logistik umum <br>
                </li>


            </ul>
        </div>
        <div class="orange-background col-3">
            <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
        </div>
    </div>

    <div class="normal-page">
        <div class="normal-content col-9">
            <h1 class="normal-subtitle" style="color: #333333">Prestasi</h1>
            TAKADA
        </div>
        <div class="orange-background col-3">
            <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
        </div>
    </div>
</div>

<div class="normal-page">
    <div class="grey-background col-3">
        <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>
    <div class="normal-content col-9">
        <h1 class="normal-subtitle" style="color: orangered">Kemampuan</h1>
        <ul>
            <li>Mahir berbahasa Jepang (bersertifikat N1)</li>
            <li>Dapat berbicara menerjemahkan bahasa Indonesia ke bahasa Jepang dan sebaliknya</li>
            <li>Menguasai bahasa pemrograman Python, C# dan Java</li>
            <li>Memahami penggunaan dasar framework Django, Flask, Java swing, dan Python tkinter</li>
            <li>Dapat menggunakan perangkat lunak Adobe Photoshop untuk desain grafis dan sunting gambar</li>
            <li>Dapat membuat LINE chat bot</li>
            <li>Menguasai perangkat lunak Unity Engine untuk pengembangan game</li>
            <li>Memahami penggunaan dasar perangkat lunak Android Studio untuk pengembangan aplikasi android</li>
            <li>Dapat menggunakan git command dasar untuk kontrol versi</li>
            <li>Menguasai operasi dasar GNU/Linux OS dan terminal</li>
            <li>Operasi dasar Office Word, PowerPoint, Excel</li>
        </ul>
    </div>
</div>

<div class="normal-page">
    <div class="normal-content col-9">
        <h1 class="normal-subtitle" style="color: #333333">Pengalaman Kepanitiaan</h1>
        <ul>
            <li>
                JUARA 2 LOMBA NOKEN QUIZ JAPANESE EDUCATION EXHIBITION UNIKOM <br>
                LOMBA CERDAS CERMAT SEPUTAR BAHASA DAN KEBUDAYAAN JEPANG <br>
                MARET 2014
            </li>
            <li>
                JUARA 1 LOMBA KANA JAPAN FAIR ITB 2014 <br>
                LOMBA CERDAS CERMAT SEPUTAR BAHASA DAN KEBUDAYAAN JEPANG <br>
                MEI 2014
            </li>
            <li>
                JUARA 1 LOMBA KANA WIDYATAMA JAPAN MATSURI 2014 <br>
                LOMBA BAHASA JEPANG <br>
                MEI 2014
            </li>


        </ul>
    </div>
    <div class="orange-background col-3">
        <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>
</div>

<div class="normal-content">
    <h1 class="normal-subtitle" style="color: orangered">Tentang Saya</h1>
    <div class="center-text">
        Saya adalah mahasiswa jurusan ilmu komputer yang
        berminat dalam lingkup luas permrograman seperti
        pengembangan game, chat bot dan web. Saya
        berpengalaman dalam pengembangan game dari
        awal pengembangan hingga di publish. Pengalaman
        saya tinggal di Jepang dapat membantu saya dalam
        menerjemahkan dan berbicara bahasa Jepang
    </div>
    <a href="{% url 'hobby' %}" class="btn btn-lg normal-button">Lihat Hobi Saya</a>
    <a href="{% url 'register' %}" class="btn btn-lg normal-button">Registrasi Akun</a>
</div>
</div>

{% include "profileApp/js.html" %}

</body>

</html>
