<!DOCTYPE <!DOCTYPE html>
<html>

{% load static %}
{% include "profileApp/base.html" %}
<body>
<div class="normal-page full-height">
    <div class="col-9 form-registrasi">
        <h1 class="normal-subtitle" style="color: #333333">Daftar Jadwal</h1>
        <a href="{% url 'new-schedule' %}" class="btn btn-lg normal-button">buat jadwal baru</a>
        <a href="{% url 'schedule-delete' %}" class="btn btn-lg normal-button">hapus jadwal</a>
        <br>
        <br>
        <br>
        {% if jadwals|length > 0 %}
            {% for jadwal in jadwals %}
                <br>
                <br>
                <br>
                <h2>{{ jadwal.nama }}</h2><br>
                {{ hari }}, {{ tanggal }}<br>
                Pukul {{ jam }}<br>
                Tempat : {{ tempat }}<br>
                Kategori : {{ kategori }}


            {% endfor %}
        {% else %}
            Belum ada jadwal
        {% endif %}
    </div>

    <div class="orange-background col-3">
        <!-- <img src="aab.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>
</div>

{% include "profileApp/js.html" %}
</body>

</html>
